.wrapper {
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .loading {
  position: absolute;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .menuToggle {
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 10000;
}

.wrapper .menuToggle .hamburgerImage {
  width: 30px;
  height: 30px;
  fill: white;
}

.wrapper .menuToggle a {
  cursor: pointer;
  color: white;
}

.wrapper .menu {
  width: 0px;
  height: 0px;
  background-color: white;
  border-radius: 800px;
  position: absolute;
  right: -450px;
  top: -450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10000;
}

.wrapper .menu-content {
  width: 40%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 100px !important;
  top: 200px !important;
  z-index: 10000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100px) translateY(-100px);
          transform: translateX(100px) translateY(-100px);
}

.wrapper .menu-content ul {
  list-style-type: none;
  font-family: "Poppins";
  font-size: 23px;
  cursor: pointer;
}

.wrapper .menu-content ul .menu-active {
  color: black;
}

.wrapper .menu-content ul li a, .wrapper .menu-content ul li a:visited {
  color: #aca9a9;
  text-decoration: none;
}

.wrapper .menu-content ul li a:hover {
  color: black;
}

.wrapper .menu-content ul .closeImage {
  width: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.actions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  overflow: hidden;
}

.right-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.previewButton {
  display: none;
  background-color: #060910;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  text-align: center;
}

.previewButton img {
  width: 50%;
  padding-top: 15px;
}

.previewfade-appear {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.previewfade-appear-active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
/*# sourceMappingURL=Welcome.css.map */