.cv3-board {
  width: 100%;
  width: 21cm;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Georgia";
  color: #3B3B3B;
}

.cv3-board .cv3-content {
  margin-top: 50px;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.cv3-board .cv3-content .cv3-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.cv3-board .cv3-content .cv3-head .cv3-name {
  color: #be8a95;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

.cv3-board .cv3-content .cv3-head .cv3-occupation {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.cv3-board .cv3-content .cv3-head .cv3-address {
  max-width: 200px;
  word-wrap: break-word;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection {
  border-top: 2px solid #838383;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  margin-top: 20px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv-bodySection-left span {
  font-size: 20px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-jobItem {
  margin-top: 10px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-jobItem .cv2-jobTitle {
  font-weight: 700;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-skills .cv2-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-top: 5px;
  max-width: 200px;
  word-break: break-all;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-skills .cv2-skill .cv2-bullet {
  width: 10px;
  height: 10px;
  background: black;
  margin-right: 5px;
  border-radius: 40px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-bodySection-rightHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-bodySection-rightHead .cv2-jobTitle {
  font-weight: 600;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right .cv2-bodySection-rightHead .cv2-bodySection-rightDates {
  font-size: 13px;
}

.cv3-board .cv3-content .cv-body .cv2-bodySection .cv2-bodySection-right p {
  font-size: 12px;
  margin: 0px;
}
/*# sourceMappingURL=Cv3.css.map */